

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'delivery/css/styles.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'delivery/css/cart.css' %}">

</head>
<body>
    <nav>
      {% comment %} <p><a href="">Logo</a></p> {% endcomment %}
        <p><a href="{% url 'customer_home' username %}">Logo</a></p>

        <p>Welcome {{ username }}!</p>

      {% comment %}<p><a href="">Home</a></p>{% endcomment %}
        <p><a href="{% url 'customer_home' username %}">Home</a></p>

        <p><a href="{% url 'show_cart_page' username %}">view cart</a></p>
        <p><a href="/">Log out</a></p>
        {% comment %} <p>{{ username|default:"No username found" }}</p> {% endcomment %}
    </nav>
    <h2>Your Cart</h2>

    {% if items %}
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    <img src="{{ item.picture }}" alt="{{ item.name }}" width="100">
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>₹{{ item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Price: ₹{{ total_price }}</h3>

    <form method="GET" action="{% url 'checkout' username %}">
        <button type="submit">Proceed to Checkout</button>
    </form>

    <a href="{% url 'customer_menu' items.0.restaurant.id username %}">Back to Menu</a>
    {% else %}
    <p>Your cart is empty!</p>
   {% comment %} <a href="/">Back to Home</a> {% endcomment %}
    <p><a href="{% url 'customer_home' username %}">Back to Home</a></p>
    {% endif %}
</body>
</html>

